

body{
  background: linear-gradient(#0F2027,#203A43,#2c3e50);
}


.head{
  font-family: 'Lobster', cursive;
  color: Lavender;
  text-shadow: 2px 3px 4px black;  
  text-decoration: underline; 
  background-color: SteelBlue;
  
}

.Par{
  color: rgb(196, 196, 196);
  font-family: 'Pacifico', cursive;
}

#Fluffy{
  color: aqua;
  font-family: 'Pacifico', cursive;
}

#Ice{
  color: navajowhite;
  font-family: 'Pacifico', cursive;
}

#Taps{
  color: palevioletred;
  font-family: 'Pacifico', cursive;
}

#Ador{
  color: pink;
  font-family: 'Pacifico', cursive;
}
